OPENAI_API_KEY=
OPENAI_BASE_URL=


SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=



LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=customer-service-agent-development
# LANGSMITH_PROJECT=customer-service-agent-production

#主模型
MODEL=

#硅基流动对话模型,目前仅用于摘要压缩和对话标题生成
SILICONFLOW_MODEL=Qwen/Qwen3-8B

#硅基流动向量模型，模型需要保持一致
SILICONFLOW_VECTOR_MODEL=BAAI/bge-m3

PORT=3000
